.style7
        {
            color:#000000;
            font-size:large;
            font-variant: small-caps;
        }
        onn
        {
            z-index:1;
 height: 505px; 
 width: 700px; 
        }
.on 
{
    z-index:1;
 height: 505px; 
 width: 600px; 
 margin-left: 100px;
}
.onq 
{
    z-index:1;
 height: 505px; 
 width: 510px; 
 margin-left: 100px;
}
.ond 
{
    background-color:rgba(255,255,55,0.8);
    color:Black;
    z-index:1;
    margin-top:50px;
    margin-bottom:50px;
    border-bottom-left-radius:0px;
border-bottom-right-radius:25px;
border-top-left-radius:25px;
border-top-right-radius:0px;
 height:435px; 
 width: 500px; 
}
.op 
{
z-index:1;
 height: 505px; 
 width: 300px; 
 margin-left: 100px;
}
	div.tw 
	{
	    visibility:visible;
	    position:fixed;
	    background-color:rgba(255,51,51,0.6);
	    background-image:url('../Images/home.png');
background-repeat:no-repeat;
width:28px;
	     height: 28px; 
	     margin-top:120px; 
	     z-index:3;
    top: 4px;
    left: 0px;
    
}
div.tw:hover
{
    
    visibility:visible;
    position:fixed;
	    background-color:rgba(255,51,51,0.6);
	    background-image:url('../Images/home-64.png');
background-repeat:no-repeat;
	    width:66px;
	     height: 66px; 
	     margin-top:110px; 
	     z-index:2;
    top: 4px;
    left: 0px;
    
}

div.tww 
	{
	    visibility:visible;
	    position:fixed;
	    background-color:rgba(0,204,204,0.6);
	    background-image:url('../Images/eng.png');
background-repeat:no-repeat;
width:28px;
	     height: 28px; 
	     margin-top:180px; 
	     z-index:3;
    top: 4px;
    left: 0px;
    
}
div.tww:hover
{
    
    visibility:visible;
    position:fixed;
	    background-color:rgba(0,204,204,0.6);
	    background-image:url('../Images/eng1.png');
background-repeat:no-repeat;
	    width:66px;
	     height:66px; 
	     margin-top:170px; 
	     z-index:2;
    top: 4px;
    left: 0px;
    
}

div.twi 
	{
	    visibility:visible;
	    position:fixed;
	    background-color:rgba(153,0,153,0.6);
	    background-image:url('../Images/login.png');
background-repeat:no-repeat;
width:28px;
	     height: 28px; 
	     margin-top:240px; 
	     z-index:3;
    top: 4px;
    left: 0px;
    
}
div.twi:hover
{
    
    visibility:visible;
    position:fixed;
	    background-color:rgba(153,0,153,0.6);
	    background-image:url('../Images/login1.png');
background-repeat:no-repeat;
	    width:66px;
	     height:66px; 
	     margin-top:230px; 
	     z-index:2;
    top: 4px;
    left: 0px;
    
}

div.twj 
	{
	    visibility:visible;
	    position:fixed;
	    background-color:rgba(255,255,0,0.6);
	    background-image:url('../Images/search-26.png');
background-repeat:no-repeat;
width:28px;
	     height: 28px; 
	     margin-top:300px; 
	     z-index:3;
    top: 4px;
    left: 0px;
   
}
div.twj:hover
{
    
    visibility:visible;
    position:fixed;
	    background-color:rgba(255,255,0,0.6);
	    background-image:url('../Images/search-64.png');
background-repeat:no-repeat;
	    width:66px;
	     height:66px; 
	     margin-top:270px; 
	     z-index:2;
    top: 4px;
    left: 0px;
     
}
div.twk 
	{
	    visibility:visible;
	    position:fixed;
	    background-color:rgba(0,102,0,0.6);
	    background-image:url('../Images/login.png');
background-repeat:no-repeat;
width:28px;
	     height: 28px; 
	     margin-top:360px; 
	     z-index:3;
    top: 4px;
    left: 0px;
   
}
div.twk:hover
{
    
    visibility:visible;
    position:fixed;
	    background-color:rgba(0,102,0,0.6);
	    background-image:url('../Images/login1.png');
background-repeat:no-repeat;
	    width:66px;
	     height:66px; 
	     margin-top:330px; 
	     z-index:2;
    top: 4px;
    left: 0px;
     
}
.log{
    margin-top:5px;   
width: 284px; 
height: 160px;
}
.log3
{
    color:White;
width: 284px; 
height: 140px;
border-bottom-left-radius:0px;
border-bottom-right-radius:25px;
border-top-left-radius:25px;
border-top-right-radius:0px;
}
.log2{
    margin-top:5px;   
width: 138px; 
height: 140px;
border-bottom-left-radius:0px;
border-bottom-right-radius:25px;
border-top-left-radius:25px;
border-top-right-radius:0px;
}

.log1
{
    color:White;
    margin-top:5px;   
width: 284px; 
height: 140px;
border-bottom-left-radius:0px;
border-bottom-right-radius:25px;
border-top-left-radius:25px;
border-top-right-radius:0px;
}

.tb
{
    width:140px;
    font-family:Cambria;    
    font-size:large;
    color:white;
    border-top-color:transparent;
    border-left-color:black;
    border-right-color:transparent;
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:1px;
    background-color:transparent;
       font-size:large;
}
.td
{border-style: solid;
    border-color:black;
    border-width: 2px;
    background-color:transparent;
    font-family:MV goli;
                   color:black;
                   font-size:large;
}
.tde
{border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color:transparent;
    font-family:MV goli;
                   color:black;
                   width:700px;
                   height:100px;
                   font-size:large;
    margin-left: 5px;
}
.tdgk
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color:transparent;
    font-family:MV goli;
                   color:Black;
                   width:668px;
                   height:50px;
                   font-size:large;
    margin-left: 50px;
    margin-top: 8px;
}
.tdgkk
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color:transparent;
    font-family:MV Boli;
                   color:Black;
                   width:438px;
                   height:50px;
                   font-size:medium;
    margin-left: 25px;
    margin-top: 8px;
}
.tdeg
{
    border-color:Black;
    background-color:transparent;
 font-family:MV goli;
                   color:black;
                   border: 2px solid;
                   width:700px;
                   height:50px;
                   font-size:large;
}

.tdg
{
    border-color:Black;
    background-color:transparent;
 font-family:MV goli;
                   color:black;
                   border: 2px solid;
                   height:30px;
                   font-size:large;
}
.tdd
{
    border-Color:Transparent;
    background-color:transparent;
 font-family:MV goli;
                   color:black;
                   border: 2px solid;
                   height:30px;
                   font-size:large;
}
.tdd:hover
{
    background-color:transparent;
 font-family:MV goli;
                   color:blue;
                   border: 2px solid;
                   height:30px;
                   font-size:large;
}
.tddd
{
    font-size:large;
    background-color:transparent;
color:green;
border: 2px solid;
}
.tddw
{
color:yellow;
font-size:xx-large;
}
.hr
{
    font-family:magneto;
  height:50px;
  font-size:large; 
  color: black; 
  font-variant: small-caps;
}
a:link {color:#000000;}      
a:visited {color:#000000;}  
a:hover {color:#000000;} 
a:active {color:#000000;}
a:link {text-decoration:none;
    font-size: xx-large;
    font-variant: small-caps;
    font-weight: 700;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
